{% extends 'base.html' %} 

{% load static %}

{% block content %}





<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }}  {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author.first_name }} {{ post.author.last_name }} | {{ post.created_on }}</p>
        
        <p class="card-text ">{{ object.content | safe }} </p>
        
        <td></td>
          {% if post.imagen %}
            <img src="{{ post.imagen.url }}" width="250" height="250" >
          {% endif %}
          
        </td>
        
      </div>
    </div>
    
  </div>
</div>





<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
{% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" width="250" height="250">
    
{% else %}
      <img src="{% static 'images\default_profile_pic.jpg' %}" class="img-fluid rounded-start" width="250" height="250">
{% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">

          {{ post.author.first_name }} 
          {{ post.author.last_name }} 

        </h5>

        <p class="small text-muted" >

          <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a> |

          {% if post.author.profile.website_url %}
            <a href="{{ post.author.profile.website_url }}">Website </a> |
          {% endif %}

          {% if post.author.profile.facebook_url %}
            <a href="{{ post.author.profile.facebook_url }}">Facebook </a> |
          {% endif %}

          {% if post.author.profile.instagram_url %}
            <a href="{{ post.author.profile.instagram_url }}">Instagram </a> |
          {% endif %}
        
        
        </p>
          

        <p class="card-text">
          
          {{ post.author.profile.bio }}

        </p>
        
      </div>
    </div>
  </div>
</div>


<br>

<h2>Comentarios ...</h2>

<br>
{% if not post.comments.all %}
  No hay comentarios todavia ... <a href="{% url 'add_comment' post.pk %}">Añadi uno</a>

{% else %}
<a href="{% url 'add_comment' post.pk %}">Añadir Comentario </a>
<br><br>
  {% for comment in post.comments.all %}
    <strong>
      {{ comment.name}} - 
      {{ comment.date_added }}
  </strong>
  <br/>
  {{ comment.content }}
  <br/><br/>
  
  {% endfor %} 
{% endif %}


{% endblock content %}

